/* line 1, ../sass/forms.scss */
input[type=text] {
  width: 100%;
  background-color: #FFF;
  border: 1px inset #5F5F5F;
  color: #222;
  padding: 10px;
  outline: 0;
  display: block;
  margin-bottom: 2em;
  font-family: arial, helvetica, sans-serif;
}
