@import "normalize";
@import "forms";
@import "animate";
@import url(http://fonts.googleapis.com/css?family=Righteous);

$green: #35D699;
$orange: #FF4F00;
$fontColor: #FFF;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	// web safe list
	font-family: "Courier New", Courier, monospace;
	font-family: Century Gothic, sans-serif;
	font-family: 'Righteous', cursive;
	// font-family: Verdana, Helvetica, Arial, sans-serif;
	// font-family: "Trebuchet MS", Helvetica, sans-serif;
	// font-family: "Times New Roman", Times, serif;
	// font-family: "Arial Black", Gadget, sans-serif;
	// font-family: copperplate,"Copperplate Gothic Light", sans-serif;
	// font-family: Tahoma, Geneva, sans-serif;
	// font-family: Georgia, Serif;
	// font-family: Impact, Charcoal, sans-serif;
	// font-family: Arial, Helvetica, sans-serif;
	// font-family: "Arial Narrow", sans-serif;
	// font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	// font-family: Verdana, Geneva, sans-serif;
	// font-family: "Lucida Console", Monaco, monospace;
	// font-family: "Gill Sans","Gill Sans MT", sans-serif;
	// font-weight: 900;
	background-color: #000;
	color: #FF4F00;

}
a {
	text-decoration: none;
	font-size: 28px;
	line-height: 1.5;
	color: #CCB24A;
	text-shadow: 0px 4px 1px #494848;
	&:hover {
		color: #FFE990;
	}
	&:active {
		position: relative;
		top: 2px;
		text-shadow: 0px 0px 1px #494848;
		color: #81743E;
	}
}
a.highlight-true {
	text-shadow: 1px 1px 10px #FFC573;
	color: #FFC573;
}
a.button {
	padding: .5em 1em;
	color: #EEE;
	display: inline-block;
	border: #eee;
	background-color: rgba(53, 214, 153, .5);
	&:hover {
		background: $green;
	}
}
input[type=text]{
	background-color: #4E4E4E;
	color: #eee;
}

ul.project-list {

	li {
		margin: 3px;
	}

	list-style: none;
	margin:0;
	padding: 0;
	text-transform: capitalize;

}

	.wrap {
		padding: 2em;

	}

@media only screen and ( min-width: 767px ){
	
	ul.project-list {

		-moz-column-count:3; /* Firefox */
		-webkit-column-count:3; /* Safari and Chrome */
		column-count:3;

	}
}
@media only screen and ( max-width: 767px ){
	ul.project-list a {
		font-size: 28px !important;
	}

}