@import "normalize";
@import "forms";
@import "animate";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Kaushan+Script|Permanent+Marker);

$green: #35D699;
$orange: #FF4F00;
$fontColor: #FFF;

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	
	// background: url(../images/backgrounds/fundo.png) 0 0;
	background: url(../images/backgrounds/cool-bg.png) 0 0;

	font-family: 'Open Sans', sans-serif;
	background-color: #000;
	font-weight: 100;
	color: #FF4F00;
	padding-bottom: 50px;

}

input[type=text]{
	background-color: #000;
	color: #fff;
	font-family: courier;
}

ul.project-list {

	list-style: none;
	margin:0;
	padding: 0;
	text-transform: capitalize;
	li {
		margin: 3px;
	}
	a {
		outline:0;
		transition: all .2s ease-in-out;
		width: 100%;
		text-decoration: none;
		font-size: 18px;
		// padding: 8px 10px;
		color: #EEE;
		display: inline-block;
		border: #eee;
		// background-color: rgba(195, 33, 33, 0.49);

		font-family: 'Kaushan Script', cursive;
		font-size: 32px;

		&:hover, &:focus {
			// background-color: rgba(195, 33, 33, 0.8);
			color: rgba(195, 33, 33, 0.8);
			text-shadow: 1px 1px 0px #fff;
		}
	}


}

	.wrap {
		padding: 2em;

	}

@media only screen and ( min-width: 767px ){
	
	ul.project-list {

		-moz-column-count:3; /* Firefox */
		-webkit-column-count:3; /* Safari and Chrome */
		column-count:3;

	}
}
@media only screen and ( max-width: 767px ){
	ul.project-list a {
		font-size: 28px !important;
	}

}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	padding: 5px;
	text-align: center;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
}